<template 
    x-component.unwrap="button"
    size="md"
    variant="primary"
    :submit="false"
    :rounded="false"
    :disabled="false"
    :loading="false"
    :on-click="`(e) => {}`"
    x-init="$api && $api.init()"
    x-data="{ classList: '', loadingSize: '' }"
>
    <button :class="classList" @click="$prop('on-click')" :disabled="$prop('disabled')" :type="$prop('submit') ? 'submit' : 'button'">
        <slot name="prepend" class="inline-flex items-center justify-center w-4 h-4 mr-2"></slot>
        <slot></slot>
        <slot name="append" class="inline-flex items-center justify-center w-4 h-4 ml-2"></slot>

        <template x-if="$prop('loading')">
            <svg class="ml-0.5 animate-spin text-white" :class="loadingSize" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
        </template>

        <template x-if="$prop('disabled')">
            <span class="absolute inset-0 bg-gray-200 opacity-50"></span>
        </template>
    </button>

    <script>
        return {
            init() {
                let initClasses = "flex gap-x-1 items-center"
                let loadingSize = "size-4"
                
                switch (this.$prop('variant')) {
                    case 'primary':
                        initClasses += " bg-indigo-600 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        break
                    case 'secondary':
                        initClasses += " font-semibold text-gray-900 dark:text-white dark:hover:text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                        break
                    case 'soft':
                        initClasses += " font-semibold text-indigo-600 shadow-sm bg-indigo-50 hover:bg-indigo-100"
                        break
                }
                
                let sizedClasses = {
                    xs: "px-2 py-1 text-xs",
                    sm: "px-2 py-1 text-sm",
                    md: "px-2.5 py-1.5 text-sm",
                    lg: "px-3 py-2 text-sm",
                    xl: "px-3.5 py-2.5 text-sm",
                }

                if (this.$prop('rounded') === true) {
                    initClasses += " rounded-full"
                } else {
                    switch (this.$prop('size')) {
                        case 'xs':
                            initClasses += " rounded"
                            loadingSize = "size-3"
                            break
                        case 'sm':
                            initClasses += " rounded"
                            loadingSize = "size-3"
                            break
                        case 'md':
                            initClasses += " rounded-md"
                            loadingSize = "size-4"
                            break
                        case 'lg':
                            initClasses += " rounded-md"
                            loadingSize = "size-4"
                            break
                        case 'xl':
                            initClasses += " rounded-md"
                            loadingSize = "size-5"
                            break
                    }
                }
            
                let size = this.$prop('size')
                let sizeClasses = sizedClasses[size] || sizedClasses.md

                this.classList = initClasses + ' ' + sizeClasses + ' relative disabled:cursor-not-allowed'
                this.loadingSize = loadingSize
            }
        }
    </script>
</template>