<template x-component.unwrap="input" x-init="$api && $api.init()" :type="'text'" :label="''" :placeholder="''"
    :description="''" :hint="''" :disabled="false" :variant="'default'" :on-change="`() => {}`" :on-input="`() => {}`"
    <div>
        <template x-if="$prop('variant') === 'default'">
            <div>
                <div class="flex justify-between">
                    <template x-if="$prop('label')">
                        <label :for="$prop('label')" class="block text-sm/6 font-medium text-gray-900 dark:text-white"
                            x-text="$prop('label')"></label>
                    </template>
                    <template x-if="$prop('hint')">
                        <p class="text-sm/6 text-gray-500 dark:text-gray-400" :id="`$prop('label')-hint`"
                            x-text="$prop('hint')"></p>
                    </template>
                </div>
                <div :class="$prop('label') ? 'mt-2' : ''">
                    <input :type="$prop('type')" :name="$prop('label')" :id="$prop('label')" :disabled="$prop('disabled')"
                        class="block w-full rounded-md ring-1 ring-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-none focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500 dark:focus:outline-indigo-500 dark:ring-white/10 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 dark:disabled:bg-gray-700 dark:disabled:text-gray-500 dark:disabled:outline-gray-600"
                        :placeholder="$prop('placeholder')" x-ref="input"
                        @input="$prop('on-input')"
                        @change="$prop('on-change')" :aria-describedby="`$prop('label')-description`"
                    />
                    <template x-if="$prop('description')">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400" :id="`$prop('label')-description`"
                            x-text="$prop('description')"></p>
                    </template>
                </div>
            </div>
        </template>

        <template x-if="$prop('variant') === 'inset'">
            <div class="-space-y-px">
                <div
                    class="rounded-md bg-white px-3 pt-2.5 pb-1.5 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-none focus-within:relative focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 dark:bg-gray-800 dark:text-white dark:outline-gray-600 dark:focus-within:outline-indigo-500">
                    <div class="flex justify-between" :class="$prop('label') ? 'mb-2' : ''">
                        <template x-if="$prop('label')">
                            <label :for="$prop('label')"
                                class="block text-xs font-medium text-gray-900 dark:text-white"
                                x-text="$prop('label')"></label>
                        </template>
                        <template x-if="$prop('hint')">
                            <p class="text-xs text-gray-500 dark:text-gray-400" :id="`$prop('label')-hint`"
                                x-text="$prop('hint')"></p>
                        </template>
                    </div>
                    <input :type="$prop('type')" :name="$prop('label')" :id="$prop('label')"
                        :disabled="$prop('disabled')"
                        class="block w-full text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 dark:disabled:bg-gray-700 dark:disabled:text-gray-500 dark:disabled:outline-gray-600 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500"
                        :placeholder="$prop('placeholder')" x-ref="input"
                        @input="$prop('on-input')"
                        @change="$prop('on-change')" :aria-describedby="`$prop('label')-description`"
                    />

                    <template x-if="$prop('description')">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400" :id="`$prop('label')-description`" x-text="$prop('description')"></p>
                    </template>
                </div>
            </div>
        </template>

        <!-- <template x-if="$prop('variant') === 'overlap'">
            <div class="-space-y-px">
                <div
                    class="rounded-md bg-white px-3 pt-2.5 pb-1.5 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-none focus-within:relative focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 dark:bg-gray-800 dark:text-white dark:outline-gray-600 dark:focus-within:outline-indigo-500">
                    <div class="flex justify-between" :class="$prop('label') ? 'mb-2' : ''">
                        <template x-if="$prop('label')">
                            <label :for="$prop('label')"
                                class="block text-xs font-medium text-gray-900 dark:text-white"
                                x-text="$prop('label')"></label>
                        </template>
                        <template x-if="$prop('hint')">
                            <p class="text-xs text-gray-500 dark:text-gray-400" :id="`$prop('label')-hint`"
                                x-text="$prop('hint')"></p>
                        </template>
                    </div>
                    <input :type="$prop('type')" :name="$prop('label')" :id="$prop('label')"
                        :disabled="$prop('disabled')"
                        class="block w-full text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 dark:disabled:bg-gray-700 dark:disabled:text-gray-500 dark:disabled:outline-gray-600 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500"
                        :placeholder="$prop('placeholder')" x-ref="input"
                        @input="$prop('on-input')"
                        @change="$prop('on-change')" :aria-describedby="`$prop('label')-description`"
                    />

                    <template x-if="$prop('description')">
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400" :id="`$prop('label')-description`" x-text="$prop('description')"></p>
                    </template>
                </div>
            </div>

            <div class="relative">
                <label for="name" class="absolute -top-2 left-2 inline-block rounded-lg bg-white px-1 text-xs font-medium text-gray-900">Name</label>
                <input type="text" name="name" id="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="Jane Smith">
            </div>
        </template> -->
    </div>

    <script>
        return {
            init() {
                const el = this.$refs.input
                const label = this.$prop('label')
                const type = this.$prop('type')
                const placeholder = this.$prop('placeholder')
                const description = this.$prop('description')
                const disabled = this.$prop('disabled')

                // if (label) {
                //     el.setAttribute('aria-label', label)
                // }

                // if (type) {
                //     el.setAttribute('type', type)
                // }

                // if (placeholder) {
                //     el.setAttribute('placeholder', placeholder)
                // }
            }
        }
    </script>
</template>