<template 
    x-component.unwrap="select" 
    x-init="$api && $api.init()"
    :options="[]"
    :selected-option="null"
    :label="''" 
    :disabled="false"
    :on-change="`() => {}`"
    x-data="{ selectedOption: null }"
>
    <div class="w-full">
        <label id="listbox-label" class="block text-sm/6 font-medium text-gray-900 dark:text-white" x-text="$prop('label')"></label>
        <div class="relative mt-2">
            <button 
                type="button" 
                class="grid w-full cursor-default grid-cols-1 rounded-md ring-1 ring-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-none focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500 dark:focus:outline-indigo-500 dark:ring-white/10 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 dark:disabled:bg-gray-700 dark:disabled:text-gray-500 dark:disabled:outline-gray-600 rounded-md" 
                aria-haspopup="listbox" 
                :disabled="$prop('disabled')"
                aria-expanded="true" 
                aria-labelledby="listbox-label"
                @click="$api.open = !$api.open"
            >
                <span class="col-start-1 row-start-1 flex items-center gap-3 pr-6">
                    <slot name="selected-option">
                        <span class="flex items-center gap-3">
                            <span class="block truncate" x-text="selectedOption"></span>
                        </span>
                    </slot>
                </span>
            </button>
    
            <!--
                Select popover, show/hide based on select state.
        
                Entering: ""
                From: ""
                To: ""
                Leaving: "transition ease-in duration-100"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <ul 
                class="absolute z-10 mt-1.5 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-hidden sm:text-sm dark:bg-gray-800 dark:ring-gray-700 dark:text-white" 
                tabindex="-1" 
                role="listbox" 
                aria-labelledby="listbox-label" 
                aria-activedescendant="listbox-option-3"
                x-show="$api.open"
                @click.away="$api.open = false"
            >
                <!--
                Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
        
                Highlighted: "bg-indigo-600 text-white outline-hidden", Not Highlighted: "text-gray-900"
                -->
                <template x-for="(option, index) in options" :key="option.id" x-cloak>
                    <li 
                        class="relative cursor-default py-2 pr-9 pl-3 text-gray-900 select-none hover:bg-indigo-600 hover:text-white focus:bg-indigo-600 focus:text-white focus:outline-hidden cursor-pointer group dark:text-white dark:hover:bg-indigo-500 dark:hover:text-white dark:focus:bg-indigo-500 dark:focus:text-white" 
                        id="listbox-option-0" 
                        role="option"
                        @click="$api.handleClick(option)"
                    >
                        <div class="flex items-center text-gray-900 dark:text-white" :class="{ 'font-semibold': $api.isSelected(option), 'font-normal': !$api.isSelected(option) }">                            
                            <slot name="option">
                                <span class="flex items-center gap-3">
                                    <span class="block truncate" x-text="option"></span>
                                </span>
                            </slot>
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                        </div>
                
                        <!--
                            Checkmark, only display for selected option.
                
                            Highlighted: "text-white", Not Highlighted: "text-indigo-600"
                        -->
                        <span 
                            class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600 focus:text-white group-hover:text-white group-focus:text-white" 
                            x-cloak 
                            x-show="$api.isSelected(option)"
                        >
                            <slot name="selected">
                                <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                </svg>
                            </slot>
                        </span>
                    </li>
                </template>
        
                <!-- More items... -->
            </ul>
        </div>
    </div>

    <script>
        return {
            open: false,

            init() {
                const el = this.$refs.selectElement;
                this.selectedOption = this.$prop('selected-option')
                console.log('Default selected option TEST:', this.selectedOption);
            },

            handleClick(option) {
                console.log('Handled click for option:', option);
                this.selectedOption = option;
                this.$prop('selected-option', option);
                this.$prop('on-change')(option)
            },

            isSelected(option) {
                return this.selectedOption && this.selectedOption.id === option.id;
            },
        }
    </script>
</template>