<template 
    x-component.unwrap="table" 
    x-init="$api && $api.init()"
    :value="''"
    :columns="[]"
    :data="[]"
    :on-change="`() => {}`"
    :on-row-click="`() => {}`"
    :on-row-select="`() => {}`"
    :on-row-deselect="`() => {}`"
    :on-filter="`() => {}`"
    :on-sort="`() => {}`"
    :on-page-change="`() => {}`"
    :on-search="`() => {}`"
    :page-size="10"
    :page="1"
    :total="0"
    :loading="false"
    :selected-row="null"
    :selected-rows="[]"
    :selectable="false"
    :sortable="false"
    :filterable="false"
    :pagination="false"
    :searchable="false"
    :search-placeholder="'Search...'"
    :search-value="''"
    x-data="{ selectedRow: null }"
    x-ref="table"
    class="w-full max-w-7xl"
    x-cloak
    x-init="$api && $api.init()"
>
<div class="bg-gray-900 py-10">
    <!-- <h2 class="px-4 text-base/7 font-semibold text-white sm:px-6 lg:px-8">Latest activity</h2> -->
    <div class="sm:flex sm:items-center px-4 text-base/7 font-semibold sm:px-6 lg:px-8">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold text-gray-900 dark:text-white">Users</h1>
          <p class="mt-2 text-sm text-gray-700 dark:text-gray-400">A list of all the users in your account including their name, title, email and role.</p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <foui-button 
            size="xl" 
            @click="$api.addUser()"
          >
            Add user
          </foui-button>
        </div>
      </div>
    <table class="mt-6 w-full text-left whitespace-nowrap">
      <colgroup>
        <col class="w-full sm:w-4/12">
        <col class="lg:w-4/12">
        <col class="lg:w-2/12">
        <col class="lg:w-1/12">
        <col class="lg:w-1/12">
      </colgroup>
      <thead class="border-b border-white/10 text-sm/6 text-white">
        <tr>
          <th scope="col" class="py-2 pr-8 pl-4 font-semibold sm:pl-6 lg:pl-8">User</th>
          <th scope="col" class="hidden py-2 pr-8 pl-0 font-semibold sm:table-cell">Commit</th>
          <th scope="col" class="py-2 pr-4 pl-0 text-right font-semibold sm:pr-8 sm:text-left lg:pr-20">Status</th>
          <th scope="col" class="hidden py-2 pr-8 pl-0 font-semibold md:table-cell lg:pr-20">Duration</th>
          <th scope="col" class="hidden py-2 pr-4 pl-0 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8">Deployed at</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-white/5">
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Michael Foster</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">2d89f0c8</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-23T11:00">45 minutes ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">25s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-23T11:00">45 minutes ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Lindsay Walton</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">249df660</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-23T09:00">3 hours ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">1m 32s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-23T09:00">3 hours ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Courtney Henry</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">11464223</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-23T00:00">12 hours ago</time>
              <div class="flex-none rounded-full bg-rose-400/10 p-1 text-rose-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Error</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">1m 4s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-23T00:00">12 hours ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Courtney Henry</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">dad28e95</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-21T13:00">2 days ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">2m 15s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-21T13:00">2 days ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Michael Foster</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">624bc94c</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-18T12:34">5 days ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">1m 12s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-18T12:34">5 days ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Courtney Henry</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">e111f80e</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-16T15:54">1 week ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">1m 56s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-16T15:54">1 week ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Michael Foster</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">5e136005</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-16T11:31">1 week ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">3m 45s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-16T11:31">1 week ago</time>
          </td>
        </tr>
        <tr>
          <td class="py-4 pr-8 pl-4 sm:pl-6 lg:pl-8">
            <div class="flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-800">
              <div class="truncate text-sm/6 font-medium text-white">Whitney Francis</div>
            </div>
          </td>
          <td class="hidden py-4 pr-4 pl-0 sm:table-cell sm:pr-8">
            <div class="flex gap-x-3">
              <div class="font-mono text-sm/6 text-gray-400">5c1fd07f</div>
              <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10 ring-inset">main</div>
            </div>
          </td>
          <td class="py-4 pr-4 pl-0 text-sm/6 sm:pr-8 lg:pr-20">
            <div class="flex items-center justify-end gap-x-2 sm:justify-start">
              <time class="text-gray-400 sm:hidden" datetime="2023-01-09T08:45">2 weeks ago</time>
              <div class="flex-none rounded-full bg-green-400/10 p-1 text-green-400">
                <div class="size-1.5 rounded-full bg-current"></div>
              </div>
              <div class="hidden text-white sm:block">Completed</div>
            </div>
          </td>
          <td class="hidden py-4 pr-8 pl-0 text-sm/6 text-gray-400 md:table-cell lg:pr-20">37s</td>
          <td class="hidden py-4 pr-4 pl-0 text-right text-sm/6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
            <time datetime="2023-01-09T08:45">2 weeks ago</time>
          </td>
        </tr>
      </tbody>
    </table>
  </div>    


    <!-- <script src="https://unpkg.com/littlebigtable@0.1.1/dist/littleBIGtable.min.js"></script> -->
    <script>
        return {
            table: null,

            init() {
                const el = this.$refs.table
            }
        }
    </script>
</template>