<template 
    x-component.unwrap="toggle" 
    x-data x-init="$api && $api.init()" 
    :toggled="false"
    :label="''" 
    :description="''"
    :disabled="false"
    :on-change="`() => {}`"
>
    <div class="flex items-center justify-between w-full">
        <template x-if="$prop('label') || $prop('description')">
            <span class="flex grow flex-col items-start justify-center">
                <span class="text-sm/6 font-medium text-gray-900 dark:text-white" id="toggle-label" x-text="$prop('label')" x-show="$prop('label')"></span>
                <span class="text-sm text-gray-500 dark:text-gray-400" id="toggle-description" x-text="$prop('description')" x-show="$prop('description')"></span>
            </span>
        </template>
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button 
            type="button" 
            class="relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 focus:outline-hidden dark:focus:ring-offset-gray-800 disabled:cursor-not-allowed disabled:opacity-50" 
            :class="{ 'bg-indigo-600': $prop('toggled'), 'bg-gray-200 dark:bg-gray-700': !$prop('toggled') }"
            :disabled="$prop('disabled')"
            role="switch" 
            :aria-checked="$prop('toggled')" 
            aria-labelledby="toggle-label" 
            aria-describedby="toggle-description"
            x-ref="toggleButton"
            @click="$api.toggle($el, $prop('on-change'))"
        >
            <span class="pointer-events-none relative inline-block size-5 transform rounded-full bg-white shadow-sm ring-0 transition duration-200 ease-in-out" :class="{ 'translate-x-5': $prop('toggled'), 'translate-x-0': !$prop('toggled') }">
                <span 
                    class="absolute inset-0 flex size-full items-center justify-center transition-opacity"
                    aria-hidden="true"
                    x-show="!$prop('toggled')"
                    :class="{ 'opacity-0 duration-100 ease-out': $prop('toggled'), 'opacity-100 duration-200 ease-in': !$prop('toggled') }"
                >
                    <slot name="unchecked"></slot>
                </span>

                <slot></slot>

                <span 
                    class="absolute inset-0 flex size-full items-center justify-center transition-opacity" 
                    aria-hidden="true"
                    x-show="$prop('toggled')"
                    :class="{ 'opacity-100 duration-200 ease-in': $prop('toggled'), 'opacity-0 duration-100 ease-out': !$prop('toggled') }"
                >
                    <slot name="checked"></slot>
                </span>
            </span>
        </button>
    </div>

    <script>
        return {
            init() {
                const el = this.$refs.toggleButton;
                el.setAttribute('aria-checked', this.$prop('toggled') ? 'true' : 'false');
                
                // Run callback on initialization?
                // this.toggle(el, this.$prop('on-change'));
            },
            
            toggle(el, callback) {
                console.log("Callback:", callback, typeof callback);
                const isChecked = el.getAttribute('aria-checked') === 'true';

                console.log("Toggle state Before:", this.$prop('toggled'));

                this.$prop('toggled', !isChecked);

                console.log("Toggle state:", this.$prop('toggled'));

                if (callback) {
                    callback(!isChecked);
                }
            }
        }
    </script>
</template>