<template 
    x-component="dropdown" 
    x-init="$api && $api.init()"
    :class="$prop('primary') ? 'text-red-500' : 'text-blue-500'"
    options="[]"
    label="Dropdown"
    primary="false"
    on-change="(item) => console.log('Item Clicked:', item)"
    x-data="{ open: false }"
>
    <div>
        <button
            @click="$api.toggle()"
            @keyup.escape.window="open = false"
            type="button"
            :aria-expanded="open"
            aria-controls="menu"
            aria-haspopup="true"
            id="menu-button"
            class="inline-flex items-center justify-between px-4 py-2 text-white bg-purple-600 transition-colors hover:bg-purple-800 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-opacity-50"
        >
            <span class="font-semibold" x-text="$prop('label')"></span>
        </button>
    
        <div
            x-show="open" 
            x-transition:enter="transition ease-out duration-150"
            x-transition:enter-start="opacity-0 transform scale-95" 
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition ease-in duration-150" 
            x-transition:leave-start="opacity-100 transform scale-100"
            x-transition:leave-end="opacity-0 transform scale-95" 
            x-cloak
            @click.away="$api.close()"
            id="menu"
            aria-labelledby="menu-button" 
            role="menu"
            class="absolute z-10 min-w-10 min-w-60 mt-2 bg-white rounded-md shadow-lg"
        >
            <ul class="py-1">
                <template x-for="(item, index) in $prop('options')" :key="index">
                    <li role="menuitem">
                        <p @click="$api.onChange(item)" @keydown.enter="$api.onChange(item)"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-200 hover:text-gray-900 focus-visible:bg-slate-200 focus-visible:text-gray-900"
                            :class="{'bg-slate-200 text-gray-900': item === $prop('selected-option')}"
                        >
                            <span x-text="item"></span>
                        <p>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    <script>
        return {
            init() {
                console.log('Dropdown initialized!', this.open)
            },

            onChange(item) {
                this.$prop('on-change')(item)
            },

            toggle() {
                this.open = !this.open;
            },

            close() {
                this.open = false;
            },
        }
    </script>
</template>